<div class="content">
  <mat-card [formGroup]="form" class="config-card">
    <mat-card-header>
      <mat-card-title>Configuration</mat-card-title>
    </mat-card-header>

    <mat-card-content class="form-fields-container">
      <mat-form-field appearance="fill">
        <mat-label>Icon set</mat-label>
        <mat-select formControlName="iconSet">
          <mat-option *ngFor="let option of iconSetOptions" [value]="option.value">
            {{ option.label }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Share URL</mat-label>
        <input matInput type="text" formControlName="url" >
        <mat-hint *ngIf="!form.get('url').value">
          Effective value is {{ defaultShareUrl }}
        </mat-hint>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Share text</mat-label>
        <input matInput type="text" formControlName="title" [placeholder]="defaultShareText">
        <mat-hint *ngIf="!form.get('title').value">
          Default value is defined in NgSocialLinksModule configuration
        </mat-hint>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Share email body</mat-label>
        <textarea matInput
          type="text"
          formControlName="description"
          [placeholder]="defaultShareEmailBody">
        </textarea>
        <mat-hint *ngIf="!form.get('description').value">
          Default value is defined in NgSocialLinksModule configuration
        </mat-hint>
      </mat-form-field>
    </mat-card-content>
  </mat-card>

  <mat-card class="results-card">
    <mat-card-header>
      <mat-card-title>Results</mat-card-title>
    </mat-card-header>

    <mat-card-content *ngIf="form.get('iconSet').value as iconSet">
      <ng-container *ngIf="iconSet === 'fontawesome'; else matIconsTmpl">
        <a [attr.href]="socialLinks['fb']">
          <fa-icon [icon]="faFacebook"></fa-icon>
        </a>

        <a [attr.href]="socialLinks['tw']">
          <fa-icon [icon]="faTwitter"></fa-icon>
        </a>

        <a [attr.href]="socialLinks['li']">
          <fa-icon [icon]="faLinkedin"></fa-icon>
        </a>

        <a [attr.href]="socialLinks['mt']">
          <fa-icon [icon]="faEnvelope"></fa-icon>
        </a>
      </ng-container>

      <ng-template #matIconsTmpl>
        <a [attr.href]="socialLinks['fb']">
          <mat-icon>facebook</mat-icon>
        </a>

        <a [attr.href]="socialLinks['mt']">
          <mat-icon>email</mat-icon>
        </a>
      </ng-template>
    </mat-card-content>
  </mat-card>
</div>
