<div class="content">
  <mat-card [formGroup]="form" class="config-card">
    <mat-card-header>
      <mat-card-title>Configuration</mat-card-title>
    </mat-card-header>

    <mat-card-content class="form-fields-container">
      <mat-form-field>
        <mat-label>Share URL</mat-label>
        <input matInput type="text" formControlName="url" >
        <mat-hint *ngIf="!form.get('url').value">
          Effective value is {{ defaultShareUrl }}
        </mat-hint>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Share text</mat-label>
        <input matInput type="text" formControlName="title" [placeholder]="defaultShareText">
        <mat-hint *ngIf="!form.get('title').value">
          Default value is defined in NgSocialLinksModule configuration
        </mat-hint>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Share email body</mat-label>
        <textarea matInput
          type="text"
          formControlName="description"
          [placeholder]="defaultShareEmailBody">
        </textarea>
        <mat-hint *ngIf="!form.get('description').value">
          Default value is defined in NgSocialLinksModule configuration
        </mat-hint>
      </mat-form-field>
    </mat-card-content>
  </mat-card>

  <mat-card class="results-card">
    <mat-card-header>
      <mat-card-title>Results</mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <div *ngFor="let link of socialLinks" class="icon-container">
        <a [attr.href]="link.url" target="_blank">
          <fa-icon [icon]="link.icon"></fa-icon>
        </a>
      </div>
    </mat-card-content>
  </mat-card>
</div>
